@charset "utf-8";
/* CSS Document */

input[type='text']{
	border-radius: 0;
}

.input-group-addon-withradius{
	border-radius: 0;
}


.btn-schedule{ background-color:#0F9D58; border:none; color:#FFF; border-radius: 0;}
.btn-schedule:hover{ background-color:#0D9352;}

.btn-adddetail{ background-color:#0F9D58; height:30px;  border:none; color:#FFF; border-radius: 0;}
.btn-adddetail:hover{ background-color:#0D9352;}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #0F9D58;
  color:#FFF;
}

.btn-exit{ background-color:#d43f3a; height:30px;  border:none; color:#FFF; border-radius: 0;}
.btn-exit:hover{ background-color:#C12E2A;}
